@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Black.woff') format('woff'),
        url('../fonts/Gilroy-Black.ttf') format('truetype'),
        url('../fonts/Gilroy-Black.svg#Gilroy-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'),
        url('../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype'),
        url('../fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype'),
        url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype'),
        url('../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Heavy.eot');
    src: url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Heavy.woff') format('woff'),
        url('../fonts/Gilroy-Heavy.ttf') format('truetype'),
        url('../fonts/Gilroy-Heavy.svg#Gilroy-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy-SemiBold.ttf') format('truetype'),
        url('../fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Thin.eot');
    src: url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Thin.woff') format('woff'),
        url('../fonts/Gilroy-Thin.ttf') format('truetype'),
        url('../fonts/Gilroy-Thin.svg#Gilroy-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;
}

:root {
    --main_color: #023369;
    --section_title: #DBE5EF;
    --orange: #EC8E1F;
    --light_blue: #123F73;
    --text_color: #4C4A4A;
    --grey_bg: #D0DAE5;
    --white_bg: #fff;
    --body_bg: #F4F7F9;
}

body {
    font-family: 'Gilroy';
}

p {
    font-size: 14px;
    display: inline-block;
}

.container {
    max-width: 1440px;
    width: 80%;
    --bs-gutter-x: 0px;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

section {
    padding: 60px 0px;
}

.no_section_padding {
    padding: 0px;
}

.no_top_padding {
    padding-top: 0px;
}

.no_bottom_padding {
    padding-bottom: 0px;
}
.light_theme{
    background-color: var(--body_bg);
}


header .navbar {
    background-color: var(--white_bg) !important;
    padding: 10px 0px;
}

.navbar a.navbar-brand {
    display: inline-block;
    max-width: 150px;
    width: 50%;
}

.navbar a.navbar-brand img {
    max-width: 100%;
    width: 100%;
    margin-top: -15px;
}

ul.navbar-nav li a {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: var(--text_color);
}

#navbarSupportedContent .right_head_content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#navbarSupportedContent .right_head_content>div {
    margin-right: 10px;
}

#navbarSupportedContent .right_head_content>div:last-child {
    margin-right: 0px;
}

#navbarSupportedContent .lang_code form {
    position: relative;
}

#navbarSupportedContent .lang_code form span.down_arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

#navbarSupportedContent .lang_code form {
    background: var(--grey_bg);
    border-radius: 4px;
}

#navbarSupportedContent .lang_code form select {
    background-color: transparent;
    padding: 7px 14px;
    font-size: 15px;
    display: inline-block;
    border-radius: 4px;
    font-weight: 500;
    border: none;
    font-weight: 300;
    appearance: none;
    position: relative;
    z-index: 1;
    padding-right: 25px;
}

#navbarSupportedContent .lang_code form select:focus {
    outline: none;
}

.btn_{
    text-decoration: none;
    border: none;
    background: #ccc;
    padding: 5px 25px;
    font-size: 15px;
    display: inline-block;
    border-radius: 4px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    background-color: var(--main_color);
    border: 2px solid var(--main_color) !important;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn_.btn_rounded {
    background: var(--main_color);
    padding: 7px 18px;
    text-decoration: none;
    color: #fff;
    border: 1px solid var(--main_color);
    text-align: center;
    border-radius: 33px;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
}
.btn_:hover {
    background: transparent;
    color: var(--main_color);
}
.right_head_content .btn_ a {
    font-weight: 600;
    color: var(--white_bg);
    text-decoration: none;
}
.right_head_content .btn_ a:hover{
    color: var(--main_color);
}

#navbarSupportedContent .head_social_wrapper span {
    display: inline-block;
    margin-right: 8px;
}

#navbarSupportedContent .head_social_wrapper span:last-child {
    margin-right: 0px;
}

.main_banner .img_wrap {
    position: relative;
}

.main_banner .img_wrap::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), transparent);
}

.main_banner .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.main_banner .owl-nav button {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: var(--white_bg) !important;
    border-radius: 100%;
    position: relative;
}

.main_banner .owl-nav button::after {
    content: '';
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 22px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_banner .owl-nav button.owl-prev {
    float: left;
    margin-left: 4rem;
}
.main_banner .owl-nav button i{
    display: none;
}
.main_banner .owl-nav button.owl-next {
    float: right;
    margin-right: 4rem;
}

.main_banner .owl-nav button.owl-next::after {
    transform: translate(-50%, -50%) scaleX(-1);
    left: 53%;
}

.main_banner .main_content_wrap {
    position: relative;
}

.main_banner .main_content_wrap .content_wrap {
    position: absolute;
    bottom: 80px;
}

.main_banner .main_content_wrap .content_wrap h2 {
    color: var(--white_bg);
    font-size: 50px;
    display: block;
    max-width: 800px;
    width: 80%;
}

.main_banner .main_content_wrap .content_wrap p {
    color: var(--white_bg);
    font-size: 22px;
}

.main_banner .owl-dots {
    display: none;
}

/* strenght section */
section.msg-box-wraps {
    margin: 0;
}

.ceo-msg-box {
    padding: 20px;
    text-align: center;
    background: #fff;
}

.ceo-msg-box>p {
    margin-bottom: 0px;
}

.ceo-img {
    margin: 4px 0px;
}

.ceo-img img {
    background: #dbd6d3;
    width: 182px;
    height: 182px;
    border-radius: 100%;
    margin: 10px auto;
}

.box-main-h {
    color: var(--main_color);
    font-size: 26px;
    font-weight: bold;
}

.box-sub-h {
    color: var(--main_color);
    font-size: 24px;
    font-weight: bold;
}

.ceo-msg-btn {
    width: 100%;
    margin-top: 14px;
    text-align: center !important;
}

.strength-box .small-heading {
    font-size: 18px;
    font-weight: bold;
    color: var(--main_color);
}

.strength-box {
    padding: 20px;
    position: relative;
    background: #fff;
    margin-bottom: 20px;
    overflow: hidden;
}

.strength-box::after {
    content: '';
    position: absolute;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--main_color);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.strength-box:hover::after {
    opacity: 1;
    visibility: visible;
    left: 0;
}

.popup_link,
.strength-box .modal_wrapper button.popup_link:active,
.strength-box .modal_wrapper button.popup_link:hover {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: var(--main_color);
}

.strength-box .modal_wrapper button.popup_link {
    padding: 0px;
    background: transparent;
    border: none;
    margin: 0px;
}

.strength-box p {
    font-size: 14px;
    display: block;
    margin-top: 10px;
    color: var(--text_color);
}

.strength-box::before {
    content: "";
    height: 100px;
    width: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main_color);
}

.modal-header {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: none;
    margin-right: 15px;
    margin-top: 15px;
}

.modal-dialog.modal-dialog-centered .modal-content {
    border-radius: 0px;
}

.modal-dialog.modal-dialog-centered {
    max-width: 745px;
    width: 80%;
    margin: 0 auto;
}

.modal_content_holder strong {
    font-size: 35px;
    color: var(--main_color);
}

.modal_content_holder p {
    font-size: 16px;
}

.modal-dialog.modal-dialog-centered .modal_body {
    padding: 29px;
}

.modal-dialog.modal-dialog-centered .modal-body {
    padding: 45px;
    padding-top: 0px;
    min-height: 350px;
}

.modal-content .modal-header .btn-close {
    position: relative;
    --bs-btn-close-bg: none;
    width: 10px;
    height: 10px;
    --bs-btn-close-hover-opacity: 1;
    opacity: 1;
}

.modal-content .modal-header .btn-close:focus {
    outline: none;
    box-shadow: none;
}

.modal-content .modal-header .btn-close::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* strenght section end */


/* / ====team description css starts===== / */
section.team-wrap {
    background-color: var(--white_bg);
}

.section_title {
    margin-bottom: 30px;
}

.section-dim-heading {
    color: var(--section_title);
    font-size: 100px;
    font-weight: 900;
    display: block;
    line-height: 100px;
}

.sub_heading {
    font-size: 22px;
    font-weight: 600;
    color: var(--main_color);
}


.team-box-wrapper {
    padding: 1rem 0;
}

.team-box-wrapper img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.team-explain-box,
.team-profile {
    border-radius: 7px;
    overflow: hidden;
}

.team-profile {
    background: #F5F5F5;
}

.team-box-wrapper .row .col {
    padding: 0px 8px;
}

.team-box-wrapper>.row>.col:last-child {
    padding-left: 10px;
}

.team-p-content {
    text-align: center;
}

.team-header {
    color: #02326a;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 10px;
}

.team-explain-box .team-p-content,
.ceo-msg-btn {
    text-align: left;
}

.team-p-content p {
    font-weight: 600;
    color: #000;
}

.team-profile .team-p-content p {
    font-size: 12px;
}

.team-explain-box img {
    height: 150px;
}

.team-explain-box .team-p-content p {
    text-align: left;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 14px;
}

.team-explain-box .ceo-msg-btn {
    text-align: left !important;
}

.modal_content_holder span.modal_sub_head {
    font-size: 18px;
    font-weight: bold;
    display: block;
    color: var(--main_color);
    margin-bottom: 10px;
}

.team-p-img .modal_wrapper {
    position: relative;
}

.team-p-img .modal_wrapper .btn.popup_link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: rgb(2 51 105 / 70%);
}

.team-p-img .modal_wrapper .btn.popup_link::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 39%;
    transform: translate(-50%, -50%);
    width: 26px;
    height: 30px;
    background-image: url(../images/btn_play.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
section.board-member {
    position: relative;
}

section.board-member::after {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #f4f7f9;
}
section.board-member .mem-box-img {
    position: relative;
}

section.board-member .mem-box-img .mem-box-pause {
    position: absolute;
    right: 20px;
    bottom: 0px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.mem-box-pause button.popup_link {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 0px;
    position: relative;
    background-color: var(--main_color);
    border: none;
    z-index: 1;
}

.mem-box .modal_wrapper:hover .mem-box-pause {
    opacity: 1;
    visibility: visible;
    bottom: -24px;
}

.mem-box-pause button.popup_link::after {
    content: '';
    position: absolute;
    left: 54%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 21px;
    background-image: url(../images/btn_play.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section.board-member .mem-box-content {
    margin-top: 32px;
}

.board-member .mem-box-content {
    padding-top: 20px;
    position: relative;
}

.board-member .mem-box-content span.quote_sign_wrapper {
    position: absolute;
    top: -15px;
}

.team-p-img .modal_wrapper {
    position: relative;
}

.team-p-img .modal_wrapper .btn.popup_link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    font-size: 0px;
    background-color: transparent;
    border: none;
}

.team-profile:hover .team-p-img .modal_wrapper .btn.popup_link {

    background-color: rgb(2 51 105 / 70%);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.team-profile:hover .team-p-img .modal_wrapper .btn.popup_link::after {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

/* / ===member team css starts==== / */
.mem-box-img img {
    background: #dbd6d3;
    width: 100%;
    height: 250px;
}

.mem-box-content strong {
    font-size: 22px;
    letter-spacing: 1px;
    color: #02326a;
    font-weight: 700;
    padding: 15px 0;
}

.mem-box-content p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 110px;
    height: auto;
}

.board-member .btn_read {
    background: transparent;
    padding: 0px;
    color: var(--main_color);
    border: none;
    font-size: 13px;
    font-weight: 600;
}

.board-member .btn_read:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.mem-box-content {
    padding: 1rem;
    background: #fff;
}

.navbar-brand img {
    width: 150px;
}

.mem-box-pause {
    position: relative;
}

.mem-box-content a {
    padding: 0.5rem 0;
    display: block;
}

/* / ====footer css starts===== / */
footer.footer-main {
    background-image: url(../images/footer_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    position: relative
}

footer.footer-main::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(2 51 105 / 90%);
}

footer.footer-main .container {
    position: relative;
    z-index: 1;
}

footer.footer-main span {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

footer.footer-main .footer-down span {
    color: var(--orange);
    font-size: 14px;
}

.footer-logo span {
    font-size: 24px;
}

ul.footer-contact-list span {
    font-size: 14px;
    padding: 0;
    font-weight: bold;
}

ul.footer-contact-list {
    margin: 10px 0px;
    margin-top: 20px;
    padding: 0px 20px 0px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

ul.footer-social-media {
    padding: 0;
    display: flex;
}

ul.footer-social-media li {
    list-style: none;
    margin: 0 6px;
}

ul.footer-social-media li a {
    font-weight: 700;
}

ul.footer-social-media i {
    font-size: 20px;
}

.footer-links strong,
.footer-services strong {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

ul.footer-ul {
    padding: 0;
    padding-left: 16px;
    margin-top: 15px;
}

ul.footer-ul li {
    margin-bottom: 5px;
}

ul.footer-ul li a {
    font-size: 14px;
}

ul.footer-social-media li a i {
    font-size: 15px;
}

.footer-down {
    text-align: center;
    background-image: linear-gradient(to right, rgb(255 255 255 / 42%) 33%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 29px 1px;
    background-repeat: repeat-x;
    padding: 40px 0px;
}

.footer-down p {
    font-size: 14px;
    font-weight: 600;
}

.footer-logo a {
    display: inline-block;
}

.footer-logo a img {
    max-width: 250px;
    width: 80%;
    display: block;
}

.footer-down-links a {
    font-size: 14px;
    ;
    font-weight: 600;
}

.footer-up {
    padding: 1rem 0;
}

.footer-ul li::marker,
.footer-contact-list li::marker {
    color: #fff;
}

.footer-explain {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
}

footer.footer-main p {
    display: block;
    color: var(--white_bg);
    margin: 0px;
}

.footer-explain:last-child {
    margin-bottom: 20px;
}


section.board-member .page-h {
    font-size: 42px;
    font-weight: bold;
    color: var(--main_color);
    display: block;
    margin-bottom: 17px;
}

.our_service_section button.nav-link {
    border: none;
    background-color: transparent !important;
}

.our_service_section button.nav-link span.img_wrap, .service_tab_wrapper .tab_loop button span.img_wrap {
    border: 2px solid transparent;
    padding: 10px;
    background: var(--white_bg);
    border-radius: 10px;
    width: 100px;
    display: inline-block;
}

.our_service_section button.nav-link {
    position: relative;
}

.our_service_section button.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 40%;
    transform: translate(-50%, 0);
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.our_service_section button.nav-link.active::after {
    opacity: 1;
    visibility: visible;
    left: 50%;
}


.our_service_section button.nav-link.active span.img_wrap, .service_tab_wrapper .tab_loop.active span.img_wrap {
    border: 2px solid var(--main_color);
}

.our_service_section button.nav-link span.img_wrap img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.our_service_section ul.nav-tabs, .service_tab_wrapper {
    display: flex;
    flex-flow: row wrap;
    border: none;
    justify-content: space-evenly;
}

.our_service_section ul.nav-tabs li, .service_tab_wrapper .tab_loop {
    max-width: 225px;
    width: 80%;
}

.our_service_section ul.nav-tabs li button, .service_tab_wrapper .tab_loop button {
    width: 100%;
    max-width: 100%;
}

.our_service_section ul.nav-tabs li span.txt_ {
    font-size: 16px;
    font-weight: 600;
    color: #63666A;
    display: block;
    margin: 9px 0px;
    min-height: 50px;
    height: auto;
}

.our_service_section ul.nav-tabs li button.nav-link.active span.txt_ {
    color: var(--main_color);
}

.our_service_section div#myTabContent {
    position: relative;
    background-color: var(--white_bg);
    padding: 40px 30px;
    border-radius: 10px;
}

.our_service_section div#myTabContent strong {
    font-size: 21px;
    color: var(--main_color);
    display: block;
    margin-bottom: 7px;
}

.our_service_section div#myTabContent .img_side span {
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 6px;
}

.software_tag {
    margin-top: 40px;
    padding-right: 18px;
}

.software_tag img {
    width: 150px;
    margin: 0 auto;
}

#myTabContent .img_side>div {
    margin: 0px !important;
    padding: 6px !important;
}

#myTabContent .img_side>div img {
    border-radius: 10px;
}
.partner_slider .owl-stage {
    padding: 10px 0px;
}
.partner_slider .content_wrap {
    background-color: var(--white_bg);
    min-height: 130px;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.02);
}

.partner_slider .content_wrap img {
    width: 50%;
    object-fit: cover;
    max-width: 200px;
    margin: 0 auto;
}

.partner_slider .content_wrap span {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}


/* our story */
section.bread-crumb-banner {
    background-image: linear-gradient(rgb(9 26 46 / 91%), rgb(9 26 46 / 95%)), url(../images/banner_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 300px;
    align-items: center;
    display: flex;
}

section.bread-crumb-banner strong {
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--white_bg);
}

ul.bread-crumb-ul {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
}

ul.bread-crumb-ul a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}

ul.bread-crumb-ul li {
    list-style: none;
    position: relative;
    padding-right: 6px;
    margin-right: 10px;
}

ul.bread-crumb-ul li::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 12px;
    width: 2px;
    background: var(--white_bg);
}

ul.bread-crumb-ul li:last-child::after {
    display: none;
}

ul.bread-crumb-ul li.active a {
    color: #58ED7B;
}

.story-box-1-left img {
    width: 100%;
    height: 100%;
    background: #dee2e6;
}

.story-box-1-left {
    height: 100%;
    position: relative;
}

.story-box-1-right strong {
    font-size: 19px;
    line-height: normal;
    color: var(--main_color);
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

.story-box-1-left::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 50%;
    background: var(--main_color);
}

.section_title .second_heading {
    font-size: 50px;
    font-weight: bold;
    line-height: normal;
    color: var(--main_color);
    text-transform: uppercase;
}

.section_title .second_heading_lg {
    font-size: 50px;
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
}

.story_content_side {
    padding-left: 40px;
}

/* about page css */
.about-vi-mi-box img {
    width: 150px;
    background: #dee2e6;
    height: 150px;
    margin: 0 auto;
    border-radius: 100%;
}
.row.attached_col .page-h {
    font-size: 44px;
    font-weight: bold;
    color: var(--main_color);
    margin-top: 20px;
}

.row.attached_col>div>div {
    padding: 30px 61px;
}
.about-vi-mi-box {
    text-align: center;
}

.about-vi-mi-box strong {
    color: var(--main_color);
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
}
.row.attached_col>div {
    padding: 0px;
    background: rgb(2 50 106 / 3%);
}

.row.attached_col>div:last-child {
    background: #F4FFFF;
}

.row.attached_col {
    margin: 0px;
}

/* table css */
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    font-size: 17px;
}

#customers th {
    padding: 12px 0px;
    text-align: left;
    color: #663a3a;
    font-weight: 700;
    width: 50%;
}

table#customers tr {
    border-bottom: 1px solid #f5f5f5;
    padding: 1rem 0;
}
table#customers tr:last-child{
    border-bottom: none;
}

.table-div {
    border: 1px solid #ddd;
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(90 90 90 / 15%);
    background-color: #fff;
    border: none;
}
.val_title {
    font-size: 35px;
    color: var(--main_color);
    display: block;
    margin-bottom: 10px;
}

.value-one-right ul {
    padding-left: 24px;
}


.value-one-left img {
  width: 100%;
  height: 100%;
  background: #dee2e6;
}

.value-one-left {
  height: 100%;
  width: 100%;
}

.value-one-right {
  padding-left: 30px;
  
}
.sdg-value-left {
    padding-right: 30px;
}
ul.value-one-ul li {
  font-size: 14px;
  padding: 10px 0;
}

.sdg-value-right {
  width: 100%;
  height: 100%;
}

.sdg-value-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #dee2e6;
}
ul.publ-book-ul li {
    vertical-align: text-top;
}

ul.publ-book-ul li {
    display: block;
    position: relative;
}

ul.publ-book-ul li::after {
    content: '';
    position: absolute;
    left: -15px;
    top: 6px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #000;
}

ul.publ-book-ul {
    padding-left: 15px;
}
.publ-book-link a img {
    width: 120px;
}

.publ-book-link {
    display: flex;
    flex-flow: row wrap;
}

.publ-book-link a {
    display: inline-block;
    margin-right: 20px;
    font-size: 23px;
    color: var(--main_color);
    font-weight: 600;
}

.publ-book-link a:last-child {
    margin-right: 0px;
}
.publ-book-link a i {
    margin-right: 10px;
    font-size: 27px;
}

/* service page css */
.serv-page-rgt p {
    font-size: 26px;
    color: #000;
    opacity: 0.7;
}

.serv-page-rgt {
    padding-left: 30px;
}

.serv-page-lt img {
    border-radius: 10px;
}

.serv-page-lt span {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #000;
    opacity: 0.7;
}
.service_tab_wrapper {
    padding: 60px 0px;
    border-radius: 20px;
}
.service_tab_wrapper .tab_loop button {
    border: none;
    background: none;
}
.service_tab_wrapper {
    padding: 60px 7rem;
    border-radius: 20px;
}

.service_tab_wrapper .tab_loop {
    max-width: 110px;
}
.rounded_img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid var(--main_color);
    padding: 23px;
    margin: 0 auto;
}
.serv-explain strong.each_row_head {
    font-size: 22px;
    color: var(--main_color);
    display: block;
    padding-bottom: 30px;
    border-bottom: 4px solid #f4f7f9;
}
.serv-explain strong.each_row_head.no_border{
    border: none;
    padding-bottom: 20px;
    padding-top: 10px;
}
.gallery-serv.row>div {
    padding: 0px !important;
}

.gallery-serv .row>div {
    padding: 2px;
}

.exp-serv-wrap{
    background-color: #f4f7f9;
    border-radius: 10px;
    padding: 30px;
    margin: 0px;
    margin-top: 10px;
}
.exp-serv-wrap .img_wrap img {
    width: 50%;
    max-width: 46px;
    min-height: 78px;
    object-fit: contain;
    opacity: 0.4;
}

.exp-serv-wrap .content_wrap {
    margin-top: 12px;
}

.exp-serv-wrap .content_wrap strong {
    color: var(--main_color);
    opacity: 0.4;
    font-size: 22px;
}
.exp-serv-wrap .content_wrap span {
    font-weight: 600;
    color: #686868;
}
.serv-explain .serv-page-btn {
    margin-top: 30px;
}
.serv-explain .inner_row{
    padding: 30px 0px;
}
.serv-explain .container_wrap>div {
    margin-bottom: 30px;
}
.serv-page-btn a {
    position: relative;
    padding: 16px 15px;
    padding-right: 30px;
    border-radius: 8px;
    margin-right: 10px;
}
.serv-page-btn a:last-child{
    margin-right: 0px;
}

.serv-page-btn a::after {
    content: '\f054';
    position: absolute;
    right: 12px;
    top: 50%;
    font-family: 'FontAwesome';
    font-size: 16px;
    transform: translate(0, -50%);
}
.btn_.btn_default_transparent {
    background: transparent;
    color: var(--main_color);
}

.btn_.btn_default_transparent:hover {
    background: var(--main_color);
    color: var(--white_bg);
}
.modal_content_holder .img_wrap img {
    width: 250px;
    margin-bottom: 10px;
}

/* responsive */
@media(max-width: 1280px){
    
    .btn_head .btn_ {
        padding: 2px 6px;
        font-size: 12px;
    }
    
    #navbarSupportedContent .lang_code form select {
        padding: 4px 8px;
        font-size: 12px;
        padding-right: 12px;
    }
    
    #navbarSupportedContent .lang_code form span.down_arrow {
        right: 3px;
    }
    
    #navbarSupportedContent .lang_code form span.down_arrow img {
        width: 9px;
    }
    
    #navbarSupportedContent .right_head_content>div {
        margin-right: 6px;
    }
    
    #navbarSupportedContent .right_head_content>div img {
        width: 15px;
    }
    
    #navbarSupportedContent .head_social_wrapper span {
        margin-right: 3px;
    }
    div#navbarSupportedContent ul li a {
        padding-right: 6px;
        font-size: 13px;
    }
}
@media(max-width: 1180px){
    .section-dim-heading {
        font-size: 30px;
        line-height: normal;
    }
    .our_service_section ul.nav-tabs li {
        max-width: initial;
    }
    .our_service_section ul.nav-tabs li {
        width: calc(100%/2 - 20px);
        margin: 0px 10px;
    }
    .our_service_section button.nav-link::after{
        display: none;
    }
}
@media(max-width: 1080px){
    .serv-page-rgt p{
        font-size: 20px;
    }
    section.bread-crumb-banner strong, .section_title .second_heading_lg {
        font-size: 30px;
    }
    .main_banner .main_content_wrap .content_wrap h2 {
        font-size: 38px;
    }
    
    .main_banner .main_content_wrap .content_wrap {
        padding-left: 23px;
    }
    .section-dim-heading {
        font-size: 60px;
    }
    
    .sub_heading {
        font-size: 17px;
    }
    .partner_slider .content_wrap {
        padding: 30px;
    }
    
    
    #navbarSupportedContent .right_head_content {
        justify-content: flex-end;
        width: 100%;
    }
    
    div#navbarSupportedContent .navbar {
        width: 100%;
        justify-content: flex-end;
    }
    
    div#navbarSupportedContent .navbar-nav {
        width: 100%;
        justify-content: flex-end;
    }
    
    div#navbarSupportedContent .navbar-nav li.nav-item:last-child a {
        padding-right: 0px;
    }
    div#navbarSupportedContent {
        flex-flow: column-reverse;
    }
    
    .partner_slider .content_wrap {
        padding: 30px;
    }
    
    .our_service_section div#myTabContent strong {
        font-size: 20px;
    }
    .table-div {
        padding: 15px 20px;
    }
    
    #customers td, #customers th {
        font-size: 15px;
        padding: 10px 0px;
    }
    
    #customers td {
        font-size: 13px;
    }
    .publ-book-link a {
        font-size: 16px;
        margin-right: 10px;
    }
    
    .publ-book-link a i {
        font-size: 16px;
        margin-right: 5px;
    }
    
    .publ-book-link a img {
        width: 80px;
    }
    
}
@media(max-width: 991px) {
    .val_title {
        font-size: 25px;
    }
    
    .value-one-right {
        margin-top: 20px;
        padding-left: 0px;
    }
    
    .row.attached_col .page-h {
        font-size: 32px;
    }
    
    .about-vi-mi-box strong {
        font-size: 16px;
    }

    .about-vi-mi-box img {
        width: 100px;
        height: 100px;
    }
    .story-box-1-right strong {
        font-size: 15px;
        margin-top: 20px;
    }

    section.bread-crumb-banner strong, .section_title .second_heading_lg {
        font-size: 25px;
    }
    .section_title {
        margin-bottom: 0px;
    }
    .section-dim-heading {
        font-size: 40px;
    }
    
    .sub_heading {
        font-size: 17px;
    }
    .ceo-msg-box {
        margin-bottom: 20px;
    }

    .story_content_side {
        padding-left: 0px;
    }
    #navbarSupportedContent .right_head_content{
        justify-content: flex-start;
    }
    header .navbar>.container {
        width: 100%;
        max-width: 100%;
    }
    
    .navbar a.navbar-brand {
        padding-left: 30px;
    }
    
    button.navbar-toggler {
        margin-right: 30px;
    }
    
    div#navbarSupportedContent {
        background: rgb(2 51 105 / 6%);
        padding: 10px 15px;
        padding-bottom: 20px;
    }
    
    div#navbarSupportedContent ul li {
        border-bottom: 1px solid rgb(2 51 105 / 9%);
    }
    header .navbar>.container {
        width: 100%;
        max-width: 100%;
    }
    
    .navbar a.navbar-brand {
        padding-left: 30px;
    }
    
    button.navbar-toggler {
        margin-right: 30px;
        border: none;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 3%);
        background-color: #023369;
        color: var(--white_bg);
    }
    
    div#navbarSupportedContent {
        background: rgb(2 51 105 / 6%);
        padding: 10px 15px;
        padding-bottom: 20px;
    }
    
    div#navbarSupportedContent ul li {
        border-bottom: 1px solid rgb(2 51 105 / 9%);
    }
    
    span.navbar-toggler-icon {
        display: none;
    }
    
    button.navbar-toggler::after {
        content: '\f0c9';
        font-family: 'fontAwesome';
        font-size: 17px;
    }
    div#navbarSupportedContent{
        margin-top: 10px;
    }
    
}
@media(max-width: 768px){
    .modal_content_holder .img_wrap img {
        margin: 0 auto;
    }
    
    .modal_content_holder strong {
        font-size: 24px;
        text-align: center;
        display: block;
        margin-top: 15px;
    }
    
    .modal_content_holder span.modal_sub_head {
        font-size: 15px;
        display: block;
        text-align: center;
    }
    
    .modal_content_holder p {
        font-size: 14px;
        text-align: center;
    }
    
    .modal_content_holder .img_wrap img {
        width: 200px;
    }
    .publ-book-link a {
        font-size: 14px;
        margin-right: 10px;
    }
    
    .publ-book-link a i {
        font-size: 16px;
        margin-right: 5px;
    }
    
    .publ-book-link a img {
        width: 71px;
    }
    .val_title {
        font-size: 18px;
        margin-bottom: 0px;
    }
    section.sdg-value {
        padding-top: 0px;
    }
    .serv-page-rgt{
        padding-left: 0px;
    }
    .serv-page-rgt p{
        font-size: 18px;
        text-align: center;
    }
    .serv-explain strong.each_row_head{
        text-align: center;
    }
    .serv-exp-content{
        margin-top: 10px;
    }
    .serv-exp-content p {
        text-align: center;
    }
    .serv-exp-content p {
        text-align: center;
        margin-top: 10px;
    }
    
    .exp-serv-wrap .img_wrap img {
        margin: 0 auto;
    }
    
    .exp-serv-wrap .content_wrap {
        text-align: center;
        margin-top: 5px;
    }
    
    
    .serv-exp-content p {
        margin: 5px 0px;
    }
    
    .exp-serv-wrap .serv-wrap-box {
        margin-bottom: 32px;
    }
    
    .exp-serv-wrap .serv-wrap-box:last-child {
        margin-bottom: 0px;
    }
    
    
    .serv-explain .serv-page-btn {
        text-align: center;
    }
    
    .serv-page-btn a {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    .serv-page-btn a:last-child {
        margin-bottom: 0px;
    }
    .serv-page-rgt p{
        font-size: 16px;
    }
    section{
        padding: 30px 0px;
    }
    section.bread-crumb-banner {
        height: auto;
        padding: 30px 0px;
    }
    
    ul.bread-crumb-ul {
        padding: 0px;
        margin-top: 6px;
    }
    .row.attached_col .page-h {
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 12px;
    }
    
    .about-vi-mi-box strong {
        font-size: 16px;
    }

    .section_title .second_heading_lg {
        font-size: 20px;
    }
    .table-div {
        padding: 15px 20px;
    }
    
    #customers td, #customers th {
        font-size: 14px;
        padding: 10px 0px;
    }
    
    #customers td {
        font-size: 12px;
    }    
    section.board-member {
        padding:  30px 0px;
    }
    .team-explain-box, .team-profile{
        margin-bottom: 20px;
    }
    strong.section-dim-heading.second_heading, section.board-member .page-h {
        font-size: 25px;
    }
    
    .sub_heading {
        font-size: 15px;
        line-height: normal;
    }
    .our_service_section ul.nav-tabs li {
        width: 100%;
        margin-bottom: 0px;
    }
    .our_service_section ul.nav-tabs li span.txt_ {
        font-size: 14px;
    }
    .main_banner .main_content_wrap .content_wrap{
        bottom: 0px;
    }
    .section-dim-heading {
        font-size: 60px;
    }
    
    .sub_heading {
        font-size: 17px;
    }
    
    .box-main-h {
        font-size: 18px;
    }
    
    .box-sub-h {
        font-size: 17px;
    }
    
    .strength-box .small-heading {
        font-size: 13px;
        line-height: normal;
    }
    .our_service_section div#myTabContent strong {
        font-size: 18px;
    }
    
    .our_service_section div#myTabContent {
        padding: 20px;
    }
}
@media(max-width: 414px){
    
    section.bread-crumb-banner strong, .section_title .second_heading_lg {
        font-size: 20px;
    }
    .section-dim-heading {
        font-size: 30px;
        line-height: normal;
    }
    .main_banner .owl-nav button {
        width: 30px;
        height: 30px;
    }
    
    .main_banner .owl-nav button::after {
        width: 6px;
        height: 12px;
    }
    
    .main_banner .owl-nav button.owl-prev {
        margin-left: 10px;
    }
    
    .main_banner .owl-nav button.owl-next {
        margin-right: 10px;
    }
    
    .main_banner .main_content_wrap .content_wrap h2 {
        font-size: 16px;
    }
    
    .main_banner .main_content_wrap .content_wrap p {
        font-size: 14px;
    }
    
    .main_banner .img_wrap img {
        height: 221px;
    }
    
    .main_banner .main_content_wrap .content_wrap {
        padding: 0px 45px;
    }
    
}